{% extends 'MMHSiteBundle::projetlayout.html.twig' %}
{% block section %}

<!-- more  project details with image -->
<div class="wrap">
  <section class="first-wrap">
    {% for project in project %}
    <h3>{{project.title}}</h3>
    <div class="first-wrap-p">
      {% for image in project.imageproject %}
      {% if image.headimage %} <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('my_text_image') }}"  /> {% endif %}
            {% endfor %}
      <p>
        {{project.text | raw}}
      </p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
