{% extends 'MMHSiteBundle::projetlayout.html.twig' %}
{% block section %}

<!-- more  project details with image -->
<div class="wrap">
  <section class="first-wrap">
    {% for project in project %}
    <h3>{{project.title}}</h3>
    <div class="first-wrap-p">
      <img class="maxwidth" src="{{ asset('bundles/mmhsite/img/projets/Waterwood.jpg') }}">
      <p>
        {{project.text}}
      </p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
