{% extends 'MMHSiteBundle::projetlayout.html.twig' %}
{% block section %}

<!-- more  project details with image -->
<div class="wrap">
  <section class="first-wrap">
    <h3>Des passionés de sports nautiques à Roubaix</h3>
    <div class="first-wrap-p"><img class="maxwidth" src="{{ asset('bundles/mmhsite/img/Waterwood.jpg') }}">
      <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit
        amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem </p>
      </div>
    </section>
    <!-- second wrap  -->
    <section class="second-wrap">
      <h3>Des événement pour tous</h3>
      <div class="img-left"><img class="maxwidth" src="{{ asset('bundles/mmhsite/img/Waterwood.jpg') }}">
        <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit
          amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem </p>
        </div>
      </section>
    {% endblock %}
