{% extends 'MMHStaticBundle::staticlayout.html.twig' %}

{% block title %}My Money Help{% endblock %}

{% block metadescription %}Plateforme de financement participatif MyMoneyHelp{% endblock %}



{% block headtitle %}Contacter nous{% endblock %}

{% block section %}
<!--************************** MAIN CONTENT ********************************-->

<!-- General wrapper for the content -->
  <div class="wrapper-static-content flex">

    <!-- Main section on the left with text and image content -->
    <section class="static-content-section">
      <h2>Contacter MyMoneyHelp</h2>
      <p>Une question, un besoin d'information ou une requête à nous soumettre ?
      N'hésitez pas à nous contacter via le formulaire ci-dessous, nous vous répondrons
      dans les plus brefs délais.</p>      


{% endblock %}
